header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.margin-title{
    margin-left: 30px;
    color : darkslategrey;
}

#navbar-custom {
    color: #fff;
    width: 100%;
    background-color: white;
    height: 0px;
}

.mobile-button {
    color: black;
}

.menu-custom {
    color : black;
}

@media only screen and (max-width : 600px) {
    header, main, footer {
        padding-left: 0;
    }
}

.article{
    border-bottom: 3px solid black;
}

.list-length{
    font-weight: 300;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    background-color: rgb(38, 166, 154);
    border-radius: 5px;
    padding: 1px 5px;
    margin-left: 12px;
}

.large-padding-top {
    padding-top: 120px;
}